:root {
    --primary-color: #700;
    --secondary-color: #E00;
    --text-color: #EEE;

    font-family: monospace;
}

.item {
    opacity: 100%;
    background-color: var(--primary-color);
    display: flex;
    position: relative;
    flex-direction: column;
    overflow: hidden;

    max-height: 60vh;
    width: 22vw;
    min-width: 15rem;

    border: 1px solid;
    border-color: var(--secondary-color);
    border-radius: 7.5px;

    font-size: 1.3rem;
    color: var(--text-color);
}

.prefix {
    display: flex;
    gap: 0.7rem;

    align-items: center
}

.button {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    justify-content: space-between;

    width: 100%;

    border: 1px solid;
    border-color: var(--primary-color);
    padding: 5px;
}

.button:focus {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

.banner {
    width: 22vw;
    min-width: 15rem;

    object-fit: fill;
    border-radius: 10px;
}

.title {
    position: absolute;

    font-weight: bold;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.description {
    width: 100%;
    padding: 7px 15px;
    background-color: #500;
    font-size: smaller;
}